<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="../../../../../assets/logo.png" alt="AdminLTE Logo" class="brand-image"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../../../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Superadmin</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/admin-page/dashboard" class="nav-link">
            <i class="nav-icon fa fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin-page/data-pengaduan" class="nav-link">
            <i class="nav-icon fa fa-info"></i>
            <p>
              Pengaduan
            </p>
          </a>
        </li>
        <li class="nav-header">Pengambilan Data</li>
        <li class="nav-item">
          <a href="/admin-page/pengambilan-data/transportasi-dan-sumber-daya-air" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Transportasi dan Sumber Daya Air</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin-page/pengambilan-data/lingkungan-hidup-dan-tata-ruang" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Lingkungan Hidup dan Tata Ruang</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin-page/pengambilan-data/pembangunan-perumahan-dan-permukiman" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Pembangunan Perumahan dan Pemukiman</p>
          </a>
        </li>

        <!-- <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              Agen
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/form-karyawan" class="nav-link">
                <i class="fa fa-plus nav-icon"></i>
                <p>Input Agen</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>Data Agen</p>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
