<footer class="main-footer">
  <strong>Pemerintah Kabupaten Bandung &copy; 2021</strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> BETA
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
