<app-landing-navbar></app-landing-navbar>
<app-landing-sidebar></app-landing-sidebar>
<!-- <div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="row">
            <h2>Akses Air Minum</h2>
          </div>
          <ngx-charts-pie-grid
            [results]="single"
            >
          </ngx-charts-pie-grid>
        </div>
        <div class="col-lg-6 col-12">
          <div class="row">
            <h2>Akses Sanitasi</h2>
          </div>
          <ngx-charts-advanced-pie-chart
                [results]="single"
                [gradient]="true" >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </section>
</div> -->
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">

    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Baris 1 -->
      <div class="row">
        <!-- air minum -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary">
              <h5 class="card-title">Akses Air Minum</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Another action</a>
                    <a href="#" class="dropdown-item">Something else here</a>
                    <a class="dropdown-divider"></a>
                    <a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <ngx-charts-pie-grid
                  [results]="single"
                  >
                </ngx-charts-pie-grid>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sanitasi -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-warning">
              <h5 class="card-title">Akses Sanitasi</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Another action</a>
                    <a href="#" class="dropdown-item">Something else here</a>
                    <a class="dropdown-divider"></a>
                    <a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <ngx-charts-pie-grid
                  [results]="single"
                  >
                </ngx-charts-pie-grid>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Baris 2 -->
      <div class="row">
        <!-- Air Minum -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary">
              <h5 class="card-title">Pembinaan Air Minum</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Another action</a>
                    <a href="#" class="dropdown-item">Something else here</a>
                    <a class="dropdown-divider"></a>
                    <a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <ngx-charts-bar-vertical
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sanitasi -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-warning">
              <h5 class="card-title">Pembinaan Sanitasi</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Another action</a>
                    <a href="#" class="dropdown-item">Something else here</a>
                    <a class="dropdown-divider"></a>
                    <a href="#" class="dropdown-item">Separated link</a>
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">

              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <ngx-charts-bar-vertical
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-landing-footer></app-landing-footer>
